<template name="welcome">
  <div class="main">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome to BlissLyst!</h2>  
        <h3>BlissLyst is a fun and easy list sharing app built on Meteor.</h3 >
        <br/>
        <p>To get started: </p>
        <ol>
          <li>Create an account</li>
          <li>Make a list</li>
          <li>Share your list with someone! :)</li>
        </ol>
        <br/>
        <p><a href="mailto:lauren@banebuttercupandfriends.org">Questions or comments?</a></p>
      </div>
    </div>
  </div>
</template>