@import "/packages/bootstrap3-less/bootstrap.import.less";

.main, .list-card, .listDetail { 
  background: #f9fcc1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}

body {
  padding-top: 60px;
  background: #eee;
  background-image: url('/images/congruent_pentagon.png');
  color: #000;
}

#spinner { height: 300px } 

/* navbar */

.navbar-default {
  background-color: #71eeb8;
  .navbar-nav > li > a {
    color: #000;
  }
  .navbar-brand {
    color: #000;  
  }
  .navbar-toggle {
    border-color: #000;
    &:hover, &:focus {
      background-color: #5abe93;
    }
    .icon-bar {
      background-color: #000;
    }
  }
}
.navbar-brand {
  color: #000;  
}
#new-list {
  font-size: 1.4em;
}
.plus-badge {
  position: absolute;
  font-size: 0.7em;
  top: 8px;
}

/* lists */

.list-card {
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
  &:hover {
    cursor: pointer;
    background: #71eeb8;
  }
}

/* listDetail */

.listDetail {
  .listTitle {
    line-height: 4em;
    &:hover {
      color: #276899;
      cursor: pointer;
    }
  }
  .listItems {
    list-style: none;
    .listItem:before {
      font-family: 'FontAwesome';
      margin:0 5px 0 -15px;
      color: #276899;
      line-height: 2em;
    }
    .unchecked:before {
      content: '\f096';
    }
    .checked:before {
      content: '\f046';
    }
    .listItem:hover {
      cursor: pointer;
      color: #276899;
      .itemControls{
        display : inline;
      }      
    }
    .itemControls {
      display: none;
    }
  }  
  .removeItem {
    color: #f9769e;
    &:hover {
      color: #fc99b7;  
    }
  }
  .checkItem:hover {
    text-decoration: none;
  }
  .editable-click {
    border-bottom: none;
  }  
}

/* misc */

.login-dropdown {
  padding-top: 12px;
}
.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}
.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px; margin-bottom: 10px;
}
.load-more:hover {
  text-decoration: none; 
  background: rgba(0, 0, 0, 0.1);
}
.addUsersDropdown:hover {
  text-decoration: none;
}
.addUserForm {
  width: auto;
  margin-left: 4px;
  margin-top: 12px;
  padding: 10px;
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 70%;
    margin-left: -35px;
    top: -10px;
    // background-color: #000;
    // background-image: none;
    &:after {
      content: "";
      position: absolute;
      right: 20px;
      top: 6px;
      width: 25px;
      height: 25px;
      -webkit-box-shadow: -6px -5px 10px -9px black,
                          -5px -6px 10px -9px black;
      -moz-box-shadow: -6px -5px 10px -9px black,
                       -5px -6px 10px -9px black;
      box-shadow: -6px -5px 10px -9px black,
                  -5px -6px 10px -9px black;
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      background: #fff;
    }  
  }
}

/* buttons */

.btn-primary { 
  color: #FFFFFF; 
  background-color: #6BE0AD; 
  border-color: #1ADE89; 
} 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #15B06D; 
  border-color: #1ADE89; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #6BE0AD; 
  border-color: #1ADE89; 
} 
 
.btn-primary .badge { 
  color: #6BE0AD; 
  background-color: #FFFFFF; 
}

.btn-tangerine { 
  color: #ffffff; 
  background-color: #FCAC6F; 
  border-color: #EDAB39; 
} 
 
.btn-tangerine:hover, 
.btn-tangerine:focus, 
.btn-tangerine:active, 
.btn-tangerine.active, 
.open .dropdown-toggle.btn-tangerine { 
  color: #ffffff; 
  background-color: #FC913F; 
  border-color: #EDAB39; 
} 
 
.btn-tangerine:active, 
.btn-tangerine.active, 
.open .dropdown-toggle.btn-tangerine { 
  background-image: none; 
} 
 
.btn-tangerine.disabled, 
.btn-tangerine[disabled], 
fieldset[disabled] .btn-tangerine, 
.btn-tangerine.disabled:hover, 
.btn-tangerine[disabled]:hover, 
fieldset[disabled] .btn-tangerine:hover, 
.btn-tangerine.disabled:focus, 
.btn-tangerine[disabled]:focus, 
fieldset[disabled] .btn-tangerine:focus, 
.btn-tangerine.disabled:active, 
.btn-tangerine[disabled]:active, 
fieldset[disabled] .btn-tangerine:active, 
.btn-tangerine.disabled.active, 
.btn-tangerine[disabled].active, 
fieldset[disabled] .btn-tangerine.active { 
  background-color: #FCAC6F; 
  border-color: #EDAB39; 
} 
 
.btn-tangerine .badge { 
  color: #FCAC6F; 
  background-color: #ffffff; 
}
