<template name="themes"> 
  <div class="main">
  <form action="">
    <input class="theme" type="radio" name="theme" data-navbar="rgba(0,0,0,0.15)" data-image="ggbridge"> SF<br><br>
    <input class="theme" type="radio" name="theme" data-navbar="#90A9CF" data-image="islandparadise"> Island<br><br>
    <input class="theme" type="radio" name="theme" data-navbar="#90A9CF" data-image="yosemite"> Yosemite<br><br>
    <input class="theme" type="radio" name="theme" data-navbar="#rgba(0,0,0,0.15)" data-image="bbc"> Bane Buttercup<br><br>

  </form>
</div>
</template>