<template name="allLists">
  <div id="listControls">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active activeLists">
        <input type="radio" name="listToggle" id="activeLists">Active
      </label>
      <label class="btn btn-primary archivedLists">
        <input type="radio" name="listToggle" id="archiveLists">Archived
      </label>
    </div>
    <button id="sortByDate" class="btn btn-primary">Date <i class="fa fa-sort-asc"/></button>
  </div>
  <div id="iso-container" class="lists">
    {{#each lists}}
      {{> listTitle}}
    {{/each}}
  </div>
</template>