<template name="createList"> 
  <div class="main">
    {{#if currentUser}}
      <div class="row">
        <div class="col-md-6">
          <form role="form">
            <div class="form-group">
              <label for="listName">Start a List</label> 
              <input class="form-control" name="listName" id="listName" type="text" value="" placeholder="Name your List!"/>
            </div>
            <div class="form-group"> 
              <input type="submit" value="Create" class="btn btn-primary"/> 
            </div>
          </form>
        </div>
      </div>
    {{else}}
      {{> accessDenied}}
    {{/if}}
  </div>
</template>