<template name="listItems">
  <div class="main list">
    {{#with currentList}}
      <h3>{{listName}}</h3>
      <button class="btn btn-primary archiveList">
        <i class="fa fa-folder-open-o"></i>
      </button>

      <button class="btn btn-primary deleteList">
        <i class="fa fa-trash-o"></i>
      </button>

      {{#if listItems}}
      <ul>
        {{#each listItems}}
        <li class="listItem">{{this}}<a class="hide removeItem"><i class="fa fa-times-circle"></i></a></li>
          {{/each}}
        </ul>
      {{else}}
        <p>No items yet!</p>
      {{/if}}
      <hr/>
      {{> addItem}}
    {{/with}}
  </div>
</template>