<template name="listItems">
  <div class="main list">
    {{#with currentList}}
      <div class="listTitle">
        <h3 id="listName" data-type="text" data-name="listName" data-title="Enter title">{{listName}}</h3>
      </div>
      <div class="listControls">
        <button class="btn btn-primary archiveList">
          <i class="fa fa-folder-open-o"></i>
        </button>

        <button class="btn btn-primary deleteList">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>

      {{#if listItems}}
      <ul class="listItems">
        {{#each listItems}}
          <li class="listItem {{isChecked this}}">{{{getItem this}}}
            <span class="itemControls hide">
              <a class="removeItem">
                <i class="fa fa-times-circle"></i>
              </a>
            </span>
          </li>
        {{/each}}
        </ul>
      {{else}}
        <p>No items yet!</p>
      {{/if}}
      <hr/>
      {{> addItem}}
    {{/with}}
  </div>
</template>